<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taylor Swift-Jeroon</title>
    <link rel="shortcut icon" href="../..//assests/images/logo.png">
    <link rel="stylesheet" href="../styles/beta.css">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Merchandise</a></li>
                <li><a href="#">Tour</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav>
        <h1 class="logo">Taylor Swift</h1>
        <nav id="Socialmedia">
            <a href="https://www.facebook.com/TaylorSwift/"><img width="40px" src="/assests/images/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/taylorswift/"><img width="40px" src="/assests/images/instagram.png" alt=""></a>
            <a href="https://twitter.com/taylorswift13"><img width="40px" src="/assests/images/twitter.png" alt=""></a>
            <a href="https://www.youtube.com/@TaylorSwift/featured"><img width="40px" src="/assests/images/youtube.png" alt=""></a>
            <a href="https://www.youtube.com/@TaylorSwift/featured"><img width="40px" src="/assests/images/snapchat.png" alt=""></a>
        </nav>
    </header>

    <div id="main">
        <main>
            <span class="ts1">
                <h1>Welcome My dear, Swifties</h1>
                <p>My Speak Now (Taylor's version) Sales Currently Ongoing Now</p>
            </span>

            <a href="https://taylor.lnk.to/speaknowtaylorsversion">
                <video src="/assests/videos/Taylor swift cover.mp4" autoplay muted loop width="100%"></video>
            </a>

            <span class="ts1">
                <h1>Speak Now Merchandise are Available Now</h1>
            </span>

            <a href="https://store.taylorswift.com/"><img width="100%" src="/assests/images/Collection.jpg" alt="" srcset=""></a>
            
            <span class="ts1">
                <h1>Midnight Album Available Now</h1>
            </span>
            
            <a href="https://store.taylorswift.com/collections/music-products"><video src="/assests/videos/midnight.mp4" autoplay muted loop width="100%"></video></a>
            <a href="https://store.taylorswift.com/collections/music-products"><img width="100%" src="/assests/images/editions.jpg" alt="" srcset=""></a>
        </main>
    </div>
</body>

</html>

