<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
nav{
    display: inline;
    font-size: x-large;
    margin-left: 20px;
    
}
h1{
    display: inline-flex;
    margin-left: 600px;
    font-size:80px;
    
}
#Socialmedia{
    display: inline-flex;
    margin-left: 600px;
  
}
header{
    background-color: mediumorchid;
}

</style>

</head>
<body>
    <header>
        <nav>
            
                <a href="#">Home</a>
                <a href="#">Mercandise</a>
                <a href="#">Tour</a>
                <a href="#">Contact us</a>
            
            </nav>
            <h1>Taylor Swift</h1>

            <nav id="Socialmedia">
             
           <a href="https://www.facebook.com/TaylorSwift/" ><img width="40px" src="/assests/images/facebook.jpg" alt=""></a>
           <a href="https://www.instagram.com/taylorswift/"><img width="40px" src="/assests/images/intagram.jpg" alt=""></a>
           <a href="https://twitter.com/taylorswift13"><img width="40px" src="/assests/images/twitter.jpg" alt=""></a>
           <a href="https://www.youtube.com/@TaylorSwift/featured"><img width="40px" src="/assests/images/youtube.png" alt=""></a>
           <a href="https://www.youtube.com/@TaylorSwift/featured"><img width="40px" src="/assests/images/snapchat.jpg" alt=""></a>
            </nav>
            </header>
    
</body>
</html>