<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Second Try</title>
<link rel="stylesheet" href="">
<style>
    *{
        margin: 0;
        padding:0;
    }
</style>

</head>

<body>
    <div class="header">
    <header>
        <nav class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Merchandise</a></li>
                <li><a href="#">Tour</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav>
        <h1 class="logo">Taylor Swift</h1>
        <nav id="Socialmedia">
            <a href="https://www.facebook.com/TaylorSwift/"><img width="40px" src="/assests/images/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/taylorswift/"><img width="40px" src="/assests/images/instagram.png" alt=""></a>
            <a href="https://twitter.com/taylorswift13"><img width="40px" src="/assests/images/twitter.png" alt=""></a>
            <a href="https://www.youtube.com/@TaylorSwift/featured"><img width="40px" src="/assests/images/youtube.png" alt=""></a>
            <a href="https://www.youtube.com/@TaylorSwift/featured"><img width="40px" src="/assests/images/snapchat.png" alt=""></a>
        </nav>
    </header>
    </div>
</body>
</html>
