<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue edition vinyl</title>
    <link rel="stylesheet" href="/src/styles/item.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="main" id="product2">
      <header class="head">
        <div id="top">
          <span id="search"><input type="text" /></span>
          <h1>TAYLOR SWIFT</h1>
          <span id="search"
            ><label for=""
              ><i class="fa fa-magnifying-glass"></i
              ><input type="text" placeholder="SEARCH" /></label
          ></span>
          <span id="icon">
            <a href=""><i class="fa-regular fa-user fa-lg"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
          </span>
        </div>
        <div class="snav">
          <a href="../../../Product.html#albumshop"><h2>ALL ALBUM</h2></a>
          <a href=""><h2>ALL MERCHANDISE</h2></a>
        </div>
      </header>

      <!-- <div class="order">
            <h1>Midnight Moonstone blue edition vinyl-1</h1>
            <h2>$33.76</h2>
            <input id="order" type="number" value="1" min="1" step="1">
            <div class="button"><a href=""><button>Add to Cart</button></a></div>
            
        </div> -->

      <div class="container1">
        <img src="/assests/images/Red(taylor's version).webp" alt="" />

        <div class="di">
          <div class="order">
            <h1>Red(taylor's version) CD</h1>
            <h2>$11.76</h2>
            <input id="order" type="number" value="1" min="1" step="1" />
            <div class="button">
              <a href=""><button>Add to Cart</button></a>
            </div>
          </div>

          <br />
          <br />

          <pre>
            RED (Taylor's Version) CD 

            
            each CD album features:
            
            
            30 songs, including 9 songs from the Vault,
            
            
            exclusive album booklet with never before seen photos, artwork and lyrics for the 9 songs from the Vault
            
            
            Depiction of this product is a digital rendering and for illustrative purposes only. actual product detailing may vary.
            
            
            Limit 4 per customer.
            
            
            Ships in 1 week.
            
            
            
            © 2021 Taylor Swift 
            
            
            Taylor Swift® 
            
            
            Used By Permission. All Rights Reserved.</pre
          >
          <br />
        </div>
      </div>
      <hr />
    </div>
    <footer class="foot">
      <div class="footer">
        <ul>
          <li><a href="../../../terms.html">TERMS OF USE</a></li>
          <li><a href="">PRIVACY POLICY</a></li>
          <li><a href="">ACCESSIBILITY</a></li>
          <li>
            <a href=""
              >CALIFORNIA OPTION:DO NOT SELL OR SHARE MY PERSONAL INFORMATION</a
            >
          </li>
          <li><a href="">CUSTOMER SUPPORT</a></li>
          <li><a href="">CLEAN VERSION</a></li>
        </ul>

        <div class="footer2">
          <div><a href="">cookie choice</a></div>
          <div><a id="rights" href="">&copy; 2023 Taylor Nation LLC</a></div>
        </div>
      </div>
    </footer>
  </body>
</html>
