<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue edition vinyl</title>
    <link rel="stylesheet" href="/src/styles/item.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="main" id="product7">
      <header class="head">
        <div id="top">
          <span id="search"><input type="text" /></span>
          <h1>TAYLOR SWIFT</h1>
          <span id="search"
            ><label for=""
              ><i class="fa fa-magnifying-glass"></i
              ><input type="text" placeholder="SEARCH" /></label
          ></span>
          <span id="icon">
            <a href=""><i class="fa-regular fa-user fa-lg"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
          </span>
        </div>
        <div class="snav">
          <a href="../../../Product.html#albumshop"><h2>ALL ALBUM</h2></a>
          <a href=""><h2>ALL MERCHANDISE</h2></a>
        </div>
      </header>

      <!-- <div class="order">
            <h1>Midnight Moonstone blue edition vinyl-1</h1>
            <h2>$33.76</h2>
            <input id="order" type="number" value="1" min="1" step="1">
            <div class="button"><a href=""><button>Add to Cart</button></a></div>
            
        </div> -->

      <div class="container1">
        <img src="/assests/images/Lover Vinyl.webp" alt="" />

        <div class="di">
          <div class="order">
            <h1>Lover Vinyl</h1>
            <h2>$25</h2>
            <input id="order" type="number" value="1" min="1" step="1" />
            <div class="button">
              <a href=""><button>Add to Cart</button></a>
            </div>
          </div>

          <br />
          <br />

          <pre>
            Lover Vinyl

Disc One
Side A
1. I Forgot That You Existed
2. Cruel Summer
3. Lover
4. The Man
5. The Archer

Disc One
Side B
1. I Think He Knows
2. Miss Americana & The Heartbreak Prince
3. Paper Rings
4. Cornelia Street

Disc Two
Side C
1. Death By A Thousand Cuts
2. London Boy
3. Soon You'll Get Better featuring The Chicks
4. False God
5. You Need To Calm Down

Disc Two
Side D
1. Afterglow
2. ME! Featuring Brendon Urie of Panic! At The Disco
3. It's Nice to Have A Friend
4. Daylight

Limit 4 per order.

Ships in 1 week.

Depiction of this product is a digital rendering and for illustrative purposes only. Actual product detailing may vary.

© 2019 Taylor Swift
Taylor Swift®
Used By Permission. All Rights Reserved.</pre
          >
          <br />
        </div>
      </div>
      <hr />
    </div>
    <footer class="foot">
      <div class="footer">
        <ul>
          <li><a href="../../../terms.html">TERMS OF USE</a></li>
          <li><a href="../../../privacy.html">PRIVACY POLICY</a></li>
          <li><a href="">ACCESSIBILITY</a></li>
          <li>
            <a href=""
              >CALIFORNIA OPTION:DO NOT SELL OR SHARE MY PERSONAL INFORMATION</a
            >
          </li>
          <li><a href="">CUSTOMER SUPPORT</a></li>
          <li><a href="">CLEAN VERSION</a></li>
        </ul>

        <div class="footer2">
          <div><a href="">cookie choice</a></div>
          <div><a id="rights" href="">&copy; 2023 Taylor Nation LLC</a></div>
        </div>
      </div>
    </footer>
  </body>
</html>
