<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue edition vinyl</title>
    <link rel="stylesheet" href="/src/styles/item.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="main" id="product8">
      <header class="head">
        <div id="top">
          <span id="search"><input type="text" /></span>
          <h1>TAYLOR SWIFT</h1>
          <span id="search"
            ><label for=""
              ><i class="fa fa-magnifying-glass"></i
              ><input type="text" placeholder="SEARCH" /></label
          ></span>
          <span id="icon">
            <a href=""><i class="fa-regular fa-user fa-lg"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
          </span>
        </div>
        <div class="snav">
          <a href="../../../Product.html#albumshop"><h2>ALL ALBUM</h2></a>
          <a href=""><h2>ALL MERCHANDISE</h2></a>
        </div>
      </header>

      <!-- <div class="order">
            <h1>Midnight Moonstone blue edition vinyl-1</h1>
            <h2>$33.76</h2>
            <input id="order" type="number" value="1" min="1" step="1">
            <div class="button"><a href=""><button>Add to Cart</button></a></div>
            
        </div> -->

      <div class="container1">
        <img
          src="/assests/images/fearless(Taylor's version) Digital.webp"
          alt=""
        />

        <div class="di">
          <div class="order">
            <h1>Fearless(Taylor's version) Digital</h1>
            <h2>$11</h2>
            <input id="order" type="number" value="1" min="1" step="1" />
            <div class="button">
              <a href=""><button>Add to Cart</button></a>
            </div>
          </div>

          <br />
          <br />

          <pre>
            Each digital standard album features:

26 songs, including 6 unreleased songs from the vault

Fearless (Taylor's Version)
1. Fearless (Taylor’s Version)
2. Fifteen (Taylor’s Version)
3. Love Story (Taylor’s Version)
4. Hey Stephen (Taylor’s Version)
5. White Horse (Taylor’s Version)
6. You Belong With Me (Taylor’s Version)
7. Breathe (feat. Colbie Caillat) (Taylor’s Version)
8. Tell Me Why (Taylor’s Version)
9. You’re Not Sorry (Taylor’s Version)
10. The Way I Loved You (Taylor’s Version)
11. Forever & Always (Taylor’s Version)
12. The Best Day (Taylor’s Version)
13. Change (Taylor’s Version)
14. Jump Then Fall (Taylor’s Version)
15. Untouchable (Taylor’s Version)
16. Forever & Always (Piano Version) (Taylor’s Version)
17. Come In With The Rain (Taylor’s Version)
18. Superstar (Taylor’s Version)
19. The Other Side Of The Door (Taylor’s Version)
20. Today Was A Fairytale (Taylor’s Version)
21. You All Over Me (feat. Maren Morris) (From The Vault)
22. Mr. Perfectly Fine (From The Vault)
23. We Were Happy (From The Vault)
24.  That’s When (feat. Keith Urban) (From The Vault)
25. Don’t You (From The Vault)
26. Bye Bye Baby (From The Vault)

If purchased, a digital standard edition of the Fearless (Taylor's Version) will be sent to the email address supplied at checkout on or about the date of purchase. Also, a digital copy of "Love Story (Taylor's Version)", "You All Over Me (feat. Maren Morris) (Taylor’s Version) (From The Vault)", and "Mr. Perfectly Fine (From The Vault)" will be sent to the email address supplied at checkout on or about the date of purchase.

Please note, digital downloads are not available to customers outside the U.S.  digital downloads are delivered as MP3 44.1kHz/16-bit audio files.

Limit 1 per customer.

© 2021 Taylor Swift
Taylor Swift®
Used By Permission. All Rights Reserved.</pre
          >
          <br />
        </div>
      </div>
      <hr />
    </div>
    <footer class="foot">
      <div class="footer">
        <ul>
          <li><a href="../../../terms.html">TERMS OF USE</a></li>
          <li><a href="../../../privacy.html">PRIVACY POLICY</a></li>
          <li><a href="">ACCESSIBILITY</a></li>
          <li>
            <a href=""
              >CALIFORNIA OPTION:DO NOT SELL OR SHARE MY PERSONAL INFORMATION</a
            >
          </li>
          <li><a href="">CUSTOMER SUPPORT</a></li>
          <li><a href="">CLEAN VERSION</a></li>
        </ul>

        <div class="footer2">
          <div><a href="">cookie choice</a></div>
          <div><a id="rights" href="">&copy; 2023 Taylor Nation LLC</a></div>
        </div>
      </div>
    </footer>
  </body>
</html>
