<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Successful</title>
    <style>
      .acccr {
        text-align: center;
        margin: 300px;
      }
      .acccr a {
        text-decoration: none;
        color: rgba(128, 12, 128, 0.801);
        font-size: larger;
      }
      .acccr button {
        height: 100px;
        width: 300px;
        background-color: burlywood;
        box-shadow: 0 5cap 7cap 0;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="acccr">
      <h1>Your Account has been created Successfully</h1>
      <br /><br />
      <a href="Login.html"><button>Click here to login</button></a>
    </div>
  </body>
</html>
