<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/signup.css" />
  </head>
  <body>
    <header class="head">
      <div class="head1">
        <ul>
          <li><a href="/Product.html">Merch</a></li>
          <li id="date">
            <a href="/Tour.html">Dates<i class="bx bx-chevron-down"></i></a>
          </li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">TS The Era Tour</a></li>
        </ul>
      </div>

      <div class="head2">
        <h1>TAYLOR SWIFT</h1>
      </div>
      <div class="head3">
        <ul>
          <li>
            <a href=""><i class="bx bxl-facebook-circle"></i></a>
          </li>
          <li>
            <a href=""><i class="bx bxl-instagram-alt"></i></a>
          </li>
          <li>
            <a href=""><i class="bx bxl-tiktok"></i></a>
          </li>
          <li>
            <a href=""><i class="bx bxl-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="bx bxl-youtube"></i></a>
          </li>
          <li>
            <a href=""><i class="bx bxl-snapchat"></i></a>
          </li>
        </ul>
      </div>
    </header>
    <video
      src="../../../../assests/videos/Backgroud/yt1s.com - Deep Blue Sky  Clouds Timelapse  Free Footage  Full HD 1080p_1080p.mp4"
      style="width: 100%; min-height: 100vh"
      autoplay
      muted
      loop
    ></video>
    <div class="signup">
      <div class="main">
        <div class="content">
          <h1>REGISTER</h1>
          <p>
            We've recently made some changes to our online store. To access
            previous account information create a new account with your same
            email address. Once you do that, all of your previous order
            information will be there.
          </p>
          <h5>Please fill in the information below:</h5>
        </div>

        <div class="register">
          <form action="">
            <div>
              <label for="fname">
                <input
                  type="text"
                  placeholder="First name"
                  minlength="3"
                  maxlength="20"
                  id="fname"
                />
              </label>
            </div>
            <div>
              <label for="lname"
                ><input
                  type="text"
                  placeholder="Last name"
                  minlength="3"
                  maxlength="20"
                  id="lname"
              /></label>
            </div>
            <div>
              <label for="mail"
                ><input
                  type="email"
                  placeholder="Email"
                  minlength="10"
                  maxlength="30"
                  id="mail"
              /></label>
            </div>
            <div>
              <label for="ps"
                ><input
                  type="password"
                  placeholder="Password"
                  minlength="10"
                  maxlength="20"
                  id="ps"
              /></label>
            </div>
            <button id="acc" type="submit">
              <h3>
                <a href="Login.html">Create my account</a>
              </h3>
            </button>
          </form>
        </div>
      </div>
    </div>

    <footer class="foot">
      <hr />

      <div class="footer">
        <ul>
          <li><a href="">TERMS OF USE</a></li>
          <li><a href="">PRIVACY POLICY</a></li>
          <li><a href="">ACCESSIBILITY</a></li>
          <li>
            <a href=""
              >CALIFORNIA OPTION:DO NOT SELL OR SHARE MY PERSONAL INFORMATION</a
            >
          </li>
          <li><a href="">CUSTOMER SUPPORT</a></li>
          <li><a href="">CLEAN VERSION</a></li>
        </ul>

        <div class="footer2">
          <div><a href="">cookie choice</a></div>
          <div><a id="rights" href="">&copy; 2023 Taylor Nation LLC</a></div>
        </div>
      </div>
    </footer>
    <script src="../../controllers/tsjava.js"></script>
  </body>
</html>

<!-- <input list="coption" name="country" id="country">
<datalist id="coption">
    <option value="India"></option>
    <option value="England"></option>
    <option value="America"></option>
    <option value="Canada"></option>
    <option value="Norway"></option>
    <option value="ukarine"></option>
    <option value="Russia"></option>
</datalist> -->
